@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    UICUlture : @System.Globalization.CultureInfo.CurrentUICulture.DisplayName
    @PageContext.Page.UICulture
    @System.Globalization.CultureInfo.CurrentCulture.DisplayName
    de tekst : @Web.Index_WelcomeText
</p>
